
   .navbar {
   
    /* background-color: '#fffff'; */
    font-size:'bold';
   }
.navbar ul  li a {
          color:  '#4e8757';
          font-size: '16px';
          font-weight: '400';
          transition: 'all 0.3s ease';
}
.navbar ul  li a:hover {
            color:'#fffff';
          }
        
          .navbar ul  li a .is-current a {
            color: '#00000';
          }
        
      
    